* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body {
    background-image: url(waltuhhi.jpg);
    height: 100vh;
    text-align: center;
}
ul {
    text-align: center;
    color: white;
}
h1 {
    text-align: center;
}

button {
    display: inline-block;
    background-color: #1F6032;
    padding: 5px;
    width: 120px;
    color: #ffffff;
    text-align: center;
    border: 4px double #000000;
    transition-duration: 0.4s;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer; 
    margin: 5px; 
}

button:hover {
    background-color: rgb(13, 62, 16);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #1F6032;
  color: #1F6032; 
}

#fixed{
    position:fixed;
    top:18px;
    left:7px;
}

.navbar {
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}
  
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.navbar a:hover {
    background-color: transparent;
    color: rgb(133, 129, 129);
}
  
  
h2{
    color:white;
}
.main {
    padding: 16px;
    margin-bottom: 30px;
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  .column img {
    opacity: 0.8; 
    cursor: pointer;
    width: 100%; 
    height: auto; 
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .container {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

  #expandedImg {
    width: 500px; 
    height: auto;
  }
