    .wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 1100px;
        justify-content: space-evenly;
    }

    .wrapper div { 
        height: 150px;
        border: 1px solid black;
        width: 170px;
    }

    #laatikko {
        background-color: lime;
    }

    .wrapper2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 1700px;
    }

    .wrapper2 div { 
        height: 80px;
        border: 1px solid black;
        width: 190px;
    }

    #laatikko2 {
        background-color: #f84c4c;
    }

    #laatikko3 {
        background-color: #f84c4c;
    }

    #laatikko3 {
        width: 400px;
    }