body {
    background-color: #ff7979;
    font-family: cursive;
}
h1 {
    font-size: 45px;
    text-align: center;
    color:#eb4d4b;
}
h2  {
    font-size: 30px;
    color:#eb4d4b;
}
img {
    float:right;
}
ul {
    list-style-type: circle;
}