body {
    font-family: 'Arial', sans-serif;
    background-color: #282c34;
    color: #61dafb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin-bottom: 5px;
}

input {
    padding: 8px;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #61dafb;
    color: #282c34;
    cursor: pointer;
}

button:hover {
    background-color: #4fa3d1;
}

#viesti {
    font-size: 1.5em;
    margin-top: 15px;
}
