table{
    background-color: pink;
    border: 1px solid darkblue;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    border-spacing: 20px;
}

td {
    background-color: #62e5ff;
    color: #000000;
    border: 1px solid #62e5ff;
}

.pic {
    background-color: white;
    border: 1px solid white;
}

.kirppu {
    color: rgb(255, 85, 0);
    background-color: orange;
    padding: 10px
    
}

