body {

    font-family: Arial, sans-serif;
    background-color: #b5fdff;
  }

  #blog-post {
    float: right;
    width: 1000px;
    text-align: center;
    border: 1px solid rgb(1, 68, 74);
    margin-right: 200px;
    box-shadow: 10px 5px 5px black;
  }

  #päivitys {
    position: absolute;
  }

  h1 {
    text-decoration: underline;
  }

  #new-text {
    width: 350px;
    height: 300px;
  }

  button[type="submit"] {
    background-color: #00ccd7;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

  }
  input[type="text"] {
    border: none;
    border-bottom: 2px solid #9dbfbd;
    outline: none;
    font-size: 18px;
    font-family: Arial, sans-serif;
    padding: 10px;
    background-color: transparent;
    transition: border-bottom-color 0.3s ease-in-out;
  }