body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #b5fdff;
  }

  .kortti {
    border: 3px solid black;
    margin: 10px;
    text-align: center;
    padding: 10px;

  }


  h1 {
    text-align: center;
  }
  
  form {
    width: 400px;
    margin: 0 auto;
    background-color: #e0fefe;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  

  
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
