body {
    background-color:#708090;
    font-family: Arial;
    color: white;
}

p    {
    color: black;
    font-size: 1.2em;
}

h1, h2  {
    color: lightblue;
}

.navigointi {
    text-align: left;
    background-color: #FFFAFA;
    border: 1px solid black;
}

.teksti {
    font-size: 120%;
}

.kuvat {
    max-width: 100%;
}

.alaviite {
    float: left;
}